PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/library
JWT_SECRET=Py+iM0RLDoelxAJ3SZxL5L1z7jujb2WFzT6WfLp08AY=
JWT_EXPIRES_IN=1d
LIBRARIAN_NAME=Library Librarian
LIBRARIAN_EMAIL= lib23@library.com
LIBRARIAN_PASSWORD=lab@232323
